---
layout: default
---

<!--Intro-->
<div class="intro">
	<div class="intro_mask">
		<div class="container">
			<div class="intro__inner">
				<div class="label">
				<h1 class="intro__title">Javascript Developer</h1>
				<div class="message">
					<p>Привет!</p>
					<p>Меня зовут Дмитрий. Я Javascript разработчик.</p>
					<p>Я не написал ещё свой The Facebook..., но у меня есть эта страница и стимул к преодолению новых вершин.
					</p>
					<p></p>
				</div>
				</button>
			</div>
		</div>
	</div>
</div>
</div>

<!-- Skills -->

<div class="skills">
	<div class="container">
		<div class="skills_header">
			<h2>Мой стек:</h2>
		</div>
		<div class="skills_inner">
			<div class="skills_item">
				<div class="skills_title">
					Javascript
				</div>
				<img class="skills_icon" src="img/svg/icons8-javascript-100.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					React
				</div>
				<img class="skills_icon" src="img/svg/icons8-react-native-100.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					NPM
				</div>
				<img class="skills_icon" src="img/svg/icons8-npm-100.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					ESlint
				</div>
				<img class="skills_icon" src="img/svg/eslint-icon.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					HTML5
				</div>
				<img class="skills_icon" src="img/svg/icons8-html-5-100.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					CSS3
				</div>
				<img class="skills_icon" src="img/svg/icons8-css3-100.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					Bootstrap
				</div>
				<img class="skills_icon" src="img/svg/icons8-bootstrap-100.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					Node.js
				</div>
				<img class="skills_icon" src="img/svg/icons8-nodejs-100.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					Webpack
				</div>
				<img class="skills_icon" src="img/svg/webpack.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					Babel
				</div>
				<img class="skills_icon" src="img/svg/babeljs-icon.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					Express
				</div>
				<img class="skills_icon" src="img/svg/expressjs-icon.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					MongoDB
				</div>
				<img class="skills_icon" src="img/svg/mongodb-icon.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					Sass
				</div>
				<img class="skills_icon" src="img/svg/sass.svg" alt="">
			</div>
			<div class="skills_item">
				<div class="skills_title">
					Github
				</div>
				<img class="skills_icon" src="img/svg/github.svg" alt="">
			</div>
		</div>
	</div>
</div>

<!--  /. Skills -->

<!--Blog-->

<div class="blog">
	<div class="container">
			<div class="skills_header" style="color:black;">
					<h2>Мой блог:</h2>
				</div>
		{% for post in paginator.posts %}
		<a href="{{ post.url | prepend: site.baseurl }}">
			<div class="post block">
				<div class="post_header">
					<h2>{{ post.title }}</h2>
				</div>
				<hr />
				<div class="post_description">
					{{ post.content | strip_html | truncatewords: 10 }}
				</div>
				<div class="post_info">
					<div class="post_date">{{ post.date | date: "%B %-d, %Y" }}</div>
					<div class="post_tag"></div>
				</div>
			</div>
		</a>
		{% endfor %}

		<div class="navigate">
			{% if paginator.previous_page %} {% if paginator.page == 2 %}
			
			<a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/" class="nav_btn"><i class="fas fa-angle-left"></i></a>
			{% else %}
			<a href="{{ site.baseurl }}/page{{ paginator.previous_page }}" class="nav_btn"><i class="fas fa-angle-left"></i></a>
			{% endif %} {% else %}
			<button class="nav_btn"><i class="fas fa-angle-left"></i></button>
			{% endif %}
			<div class="page"><span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span></div>
			{% if paginator.next_page %}
			<a href="{{ site.baseurl }}/page{{ paginator.next_page }}" class="nav_btn"><i class="fas fa-angle-right"></i></a>
			{% else %}
			<button class="nav_btn"><i class="fas fa-angle-right"></i></button>
			{% endif %}
		</div>
	</div>
</div>
