body {
  margin: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #6c7279;
  --webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

i {
  margin-right: 7px;
}

ul{
  text-align:center;
}
ul li{
  display:inline-block;
}

/*Container
===============================*/
.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

/*Header
===============================*/

.header {
  height: 80px;

  background-color: rgba(94, 121, 191, 0.9);

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__logo {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;

  /*отключаем выделение текста логотипа*/
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.nav {
  display: flex;
}

.nav__link {
  display: inline-block;
  padding: 8px 0;
  width: 150px;
  vertical-align: top;
  border-radius: 4px;
  text-align: center;
  margin-left: 30px;
  text-transform: uppercase;

  transition: background 0.4s ease;

  color: #fff;
  font-weight: 900;
  font-size: 15px;
  text-decoration: none;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.3);
}

/*Intro
===============================*/

.intro {
  height: 650px;
  padding-top: 80px;
  background: url(img/header_image.jpg) center no-repeat / cover;
  background-attachment: scroll;
}

.intro_mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 570px;
  background-color: rgba(94, 121, 191, 0.4);
}

.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-items: center;
  text-align: center;
  margin: 40px 0;
}

/*Button
===============================*/

.btn {
  background: none;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.btn-with-toooltip {
  outline: none;
  cursor: help;
}

/*Message & Tooltip
===============================*/

.message {
  width: 100%;
  max-width: 450px;
  padding: 10px;
  margin: 50px 0;
  background-color: rgb(94, 121, 191);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.btn-with-toooltip:focus .message,
.btn-with-toooltip:hover .message {
  opacity: 1;
}

/* Skills
===============================*/

.skills {
  display: flex;
  flex-direction: column;

  height: 400px;
  background-color: rgba(94, 121, 191, 0.9);
}

.skills_header {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

.skills_inner {
  display: flex;
  flex-wrap: wrap;
}

.skills_item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 10px 0;
  padding: 0 15px;
  width: 14.2857%;
}

.skills_title {
  opacity: 0;
  color: #fff;
  margin-bottom: 5px;
  transition: opacity 0.2s ease-out;
}

.skills_icon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
  margin: 10px 0;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

.skills_item:hover .skills_icon {
 transform: scale(1.2, 1.2);
}

.skills_item:hover .skills_title {
  opacity: 1;
}

/* Portfolio
===============================*/

.portfolio {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: rgba(94, 121, 191, 0.5);
}

.portfolio_header {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

.portfolio_inner{
  display: flex;
  flex-wrap: wrap;
}

.portfolio_block{
  width: 20%;
  border-right: 1px solid white;
  text-align: center;
  height: 300px;
}

.portfolio_block:last-child {
  border-right: none;
}

.portfolio_title {
  font-size: 16px;
  font-weight: 900;
  height: 70px;

  margin-bottom: 20px;
}

.portfolio_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio_list li {
  margin-bottom: 14px;
}

.portfolio_list a {
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}

.portfolio_list a:hover {
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}

.portfolio_btn,
.portfolio_btn a {
  cursor: help;
}

.portfolio_btn {
  margin: 0 auto;
  width: 160px;
  padding: 5px 0;
  border-radius: 5px;
  transition: background-color 0.2s linear;
}

.portfolio_btn:hover {
  background-color: rgba(94, 121, 191)
}


/* Footer
===============================*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 150px;
  background-color: rgba(94, 121, 191, 0.9);
}

.footer_header {
  margin-bottom: 10px;
}

.footer_social {
  align-items: center;
  margin-bottom: 10px;
}

.social_icon i {
  margin: 0;
}

.social_icon {
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  border-radius: 7px;
  transition: color,background-color 0.2s linear;
}

.social_icon:hover {
  color: rgb(94, 121, 191);
  background-color:#fff;
}

/* Tooltip
===============================*/

[tooltipText]{
  margin:20px;
  position:relative;
}
[tooltipText]::before {
 content: "";
 position: absolute;
 opacity:0;
 transition: opacity 0.2s linear;
 top:-6px;
 left:50%;
 transform: translateX(-50%);
 border-width: 4px 6px 0 6px;
 border-style: solid;
 border-color: rgba(0,0,0) transparent transparent transparent;
 z-index: 100;
}
[tooltipText]::after {
 content: attr(tooltipText);
 position: absolute;
 opacity:0;
 transition: opacity 0.2s linear;
 left:50%;
 top:-6px;
 transform: translateX(-50%) translateY(-100%);
 background: rgb(0,0,0);
 text-align: center;
 color: #fff;
 padding:4px 2px;
 font-size: 12px;
 min-width: 100px;
 width: 100%;
 border-radius: 5px;
 pointer-events: none;
 z-index: 100;
}

[tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg)
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='bottom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}
[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%) translateY(-50%);
}
[tooltip-position='top']::after{
  left:50%;
}
[tooltip-position='bottom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%) translateY(-50%);
}

[tooltipText]:hover::after,[tooltipText]:hover::before {
   opacity:1
}


/* Burger */
.burger {
  display: none;
  background: none;
  border: 0;
  padding: 9px 2px;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;


  font-size: 0;
  color: transparent;

  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: '';
  width: 100%;
  height: 100%;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item:before {
  top: -8px;
}

.burger__item:after {
  bottom: -8px;
}

/* Media
===================*/

@media (max-width: 944px) {
.portfolio {
  height: 720px;
}

.portfolio_block {
  width: 33.33333%;
  margin-bottom: 20px;
}
}

@media (max-width: 796px) {
  .nav {
  display: none;
  }
  .burger {
    display: block;
  }
  .skills{
    height: 620px;
  }
  .skills_item{
    width: 25%;
  }

}

@media (max-width: 580px) {
.portfolio {
  height: 1040px;
}

.portfolio_block {
  width: 50%;
  margin-bottom: 20px;
}

.portfolio_block:last-child {
  border-right: 1px solid #fff;
}

  .skills{
    height: 620px;
  }
  .skills_item{
    width: 25%;
  }
}

@media (max-width: 390px) {
.header__logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.portfolio {
  height: 1620px;
}

.portfolio_block {
  width: 100%;
  margin-bottom: 20px;
  border-right: none;
}

    .skills{
    height: 750px;
  }
  .skills_item{
    width: 33.33333%;
  }
}