<footer class="footer">
	<div class="container">
		<div class="footer_header">Мои контакты</div>
		<div class="footer_social">
			<a class="social_icon" href="https://teleg.run/kyznecspm"
				><i class="fab fa-telegram"></i
			></a>
			<a class="social_icon" href=""><i class="fas fa-envelope"></i></a>
			<a class="social_icon" href=""><i class="fab fa-instagram"></i></a>
			<a class="social_icon" href=""><i class="fab fa-vk"></i></a>
			<a class="social_icon" href=""><i class="fab fa-github"></i></a>
		</div>
		<div class="footer_text">Created by Emelianov Dmitry</div>
	</div>
</footer>

<script src="{{ site.baseurl }}/js/index.js"></script>
