<header class="header" id="header">
	<div class="container">
		<div class="header__inner">
			<a href="{{ site.baseurl }}" class="header__logo">
				<i class="fas fa-cogs"></i>Emelianov Dmitry
			</a>
			<nav class="nav" id="nav">
				<a href="{{ site.baseurl }}/summary.html" class="nav__link">
					<i class="far fa-user-circle"></i>
					Резюме</a
				>
			</nav>
			<button class="burger" type="button" id="navToggle">
				<span class="burger__item">Menu</span>
			</button>
		</div>
	</div>
</header>
